@import url(http://fonts.googleapis.com/css?family=Lakki+Reddy);
@blue-color: rgba(0, 12, 255, 0.89);

body{
  background-color: @blue-color;
  background-image: url('/assets/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100vw;
  font-family: 'Lakki Reddy', cursive;
  -webkit-font-smoothing: auto;
}

#title{
  font-size: 40px;
  color: white;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 75px;
}
#pirateship{
  font-size: 12em;
  position: absolute;
  right: 100px;
  top: 0;
  width: 100px;
  pointer-events: none;
  text-align: center;
  color: #c14b09;
  text-shadow: 2px 2px #666666;
}
#container{
  margin-bottom: 100px;
}
#controls{
  text-align: center;
  button{
    color: rgb(179, 26, 26);
    background-color: @blue-color;
    padding: 5px;
  }
  #message{
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 20px;
  }
  #shipcreation, #set-position, #charactercreation{
    display: none;
  }
  #players{
    display: inline;
  }
  .player{
    display: inline-block;
    margin: 25px;
  }
  .active{
    border: 1px red solid;
  }
}

#boards{
  table, td, tr{
    border-radius: 5px;
  }
  table{
    margin: 0 auto;
  }
  tr{
    width: 100%;
  }
  td{
    width: 50px;
    height: 50px;
    margin: -3px;
    border: 1px rgba(35, 17, 245, 0.5) dashed;
    background-color: rgba(37, 75, 116, 0.68);
  }
  .ship{
    height: 50px;
    width: 50px;
  }
  .shiprotate{
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
    transform: rotate(90deg);
  }
  #board1, #board2{
    background-color: rgba(94, 84, 84, 0.25);
    background-image: url('/assets/waves.gif');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #board1{
    display: none;
    border-color: 1px blue dashed;
  }
  #board2{
    display: none;
    border-color: 1px red dashed;
  }
  .miss{
    background-color: rgba(67, 55, 195, 0.78);
  }
  .hit{
    background-color: rgba(211, 46, 46, 0.78);
  }
}
